<!-- ARTISTAS -->
<section class="seccion-artistas">
  <h2 class="titulo-seccion">ARTISTAS INVITADOS</h2>

  <div class="contenido">
    <img src="https://images.unsplash.com/photo-1470225620780-dba8ba36b745" alt="DJ">

    <div class="texto">
		<li>
			<ul>Martin Garrix – Mainstage / EDM, uno de los más grandes del mundo.</ul>
		</li>

		<li>
			<ul>David Guetta – Leyenda del EDM y colaboraciones pop masivas.</ul>
		</li>

		<li>
			<ul>Tiësto – Histórico y aún en los festivales más grandes.</ul>
		</li>

		<li>
			<ul>Calvin Harris – EDM y pop electrónico, hits internacionales.</ul>
		</li>

		<li>
			<ul>Armin van Buuren – Trance icónico, influyente por décadas.</ul>
		</li>

		<li>
			<ul>Swedish House Mafia – Trance icónico, influyente por décadas.</ul>
		</li>

		<li>
			<ul>Charlotte de Witte – Techno moderno, reina de festivales europeos. </ul>
		</li>

		<li>
			<ul>Skrillex – Bass / Dubstep, pionero y mega influyente en el género.</ul>
		</li>
    </div>
  </div>
</section>

<!--EXPERIENCIAS -->
<section>
  <h2 class="titulo-seccion">EXPERIENCIAS</h2>

  <div class="contenido inverso">
    <img src="https://images.unsplash.com/photo-1506157786151-b8491531f063?q=80&w=1200&auto=format&fit=crop" alt="Festival">

    <div class="texto">
      <p>Baila al ritmo de la música electrónica junto al mar, con DJs internacionales y un ambiente lleno de energía. Disfruta de la playa, luces, efectos visuales y momentos inolvidables junto a miles de asistentes que comparten tu pasión por la música.</p>
      <p>Sumérgete en una experiencia única bailando al ritmo de la música electrónica frente al mar, donde las olas se mezclan con los beats más electrizantes.</p> 
      <p>Déjate llevar por sets de DJs internacionales que harán vibrar cada rincón del escenario, mientras luces deslumbrantes, láseres y efectos visuales crean un espectáculo sensorial que despierta todos tus sentidos.</p>
    </div>
  </div>
</section>

<style>
     /* Experience Text */
  .texto-experiencia {
    position: absolute;
    left: 2%;
    top: 40%;
    color: #0088ff;
    font-size: 1.4rem;
    line-height: 1.3;
    font-style: italic;
    text-shadow: 
      0 0 10px #0088ff,
      0 0 20px #0088ff,
      0 0 30px #0088ff;
    max-width: 250px;
  }

</style>