---
---
<div id="totalCartel">
    <div id="encimaCartel">
		<h1>CARTEL</h1>
    </div>
    <div id="exteriorCartel">
        <div id="cartel"></div>
    </div>
</div>




<style>

    #totalCartel{
        height: 50em;
    }

    #encimaCartel{
		width: 100%;
		height: 10em;
		background-color: black;
		font-family: BigShoulder;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#encimaCartel h1{
		margin:0;
		color: rgb(252, 109, 173);
		font-size: 90px;
		text-shadow: -10px 0px 0px rgba(181, 32, 146, 0.9);
		-webkit-text-stroke: 2px rgb(227, 60, 136);
	}

    #zonaCartel{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    #exteriorCartel{
        width: 340px;
        height: 560px;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0 0 20px rgba(0,255,255,0.6))
            drop-shadow(0 0 40px rgba(238,38,238,0.4))
            drop-shadow(0 0 60px rgba(179,142,204,0.3));
        animation: rotacion 1s infinite;
    }
    #cartel{
        width: 320px;
        height: 540px;
        background-image: url(/images/cartel.png);
        z-index: 2;
    }

    @keyframes rotacion {
        0%{
            background: conic-gradient(from 0deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        5%{
            background: conic-gradient(from 18deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        10%{
            background: conic-gradient(from 36deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        15%{
            background: conic-gradient(from 54deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        20%{
            background: conic-gradient(from 72deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        25%{
            background: conic-gradient(from 90deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        30%{
            background: conic-gradient(from 108deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        35%{
            background: conic-gradient(from 126deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        40%{
            background: conic-gradient(from 144deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        45%{
            background: conic-gradient(from 162deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        50%{
            background: conic-gradient(from 180deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        55%{
            background: conic-gradient(from 198deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        60%{
            background: conic-gradient(from 216deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        65%{
            background: conic-gradient(from 234deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        70%{
            background: conic-gradient(from 252deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        75%{
            background: conic-gradient(from 270deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        80%{
            background: conic-gradient(from 288deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        85%{
            background: conic-gradient(from 306deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        90%{
            background: conic-gradient(from 324deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        95%{
            background: conic-gradient(from 342deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
        100%{
            background: conic-gradient(from 360deg, cyan, skyblue, rgb(179, 142, 204), rgb(238, 38, 238), pink, cyan);
        }
    }
    
</style>