---
---

<footer>
    <p>Contacto: info@neonbeats.com</p>
    <div id="redesSociales">
        <div class="red">Instagram</div>
        <div class="red">Facebook</div>
        <div class="red">Tiktok</div>
    </div>
    <div id="newsletter">
        <input type="text" id="correo" placeholder="Tu correo">
        <button id="suscribir">Suscribirme</button>
    </div>
</footer>

<style>
    footer{
        height: 8em;
        border-top: 1px solid gray;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: aliceblue;
        justify-content: space-around;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #redesSociales{
        width: 18em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(68, 200, 200);
        font-size: 20px;
    }

    p{
        margin: 0;
    }

    #newsletter{
        display: flex;
        gap:20px
    }

    #correo{
        width: 20em;
        height: 1em;
        padding: 10px;
        border-radius: 50px;
        margin: 0;
        font-size: 15px;
        border: none;
    }

    #suscribir{
        background-color: rgb(200, 86, 124);
        height: 2.4em;
        border-radius: 50px;
        border: none;
        color: aliceblue;
    }
</style>