---
import Header from '../components/Header.astro';
import Countdown from '../components/Countdown.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Cartel from '../components/Cartel.astro';
import Artistas from '../components/artistas.astro';
import Grafiti from '../components/grafiti.astro';
import Ticket from '../components/Ticket.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />

  <section id="festival">
    <Countdown />
  </section>

  <section id="artistas">
    <Artistas />
  </section>

  <section id="actividades">
    <Grafiti />
  </section>

  <section id="entradas">
    <div id="zonaCartel">
      <div id="izquierdaCartel">
        <img id="dron" src="/images/dron.png" alt="" />
        <div id="party">
          <p id="party1">PARTY!</p>
          <p id="party2">PARTY!</p>
          <p id="party3">PARTY!</p>
        </div>
        <span id="eventoDron">UN ESPECTÁCULO DE DRONES INIGUALABLE</span>
      </div>
      <Cartel></Cartel>
      <div id="derechaCartel">
        <img id="fotoFoodtruck" src="/images/foodtruck.png" alt="" />
        <span id="textStreetFood">Street food internacional para recargar energía sin salir del ritmo</span>
      </div>
    </div>
  </section>
  <div id="espacioExtra"></div>
  <Ticket></Ticket>

  <Footer></Footer>
</Layout>

<style>
  @font-face {
    font-family: Gladiola;
    src: url(/fonts/Gladiola.ttf);
  }

  #festival,
  #artistas,
  #actividades,
  #entradas {
    scroll-margin-top: 110px;
  }

  #zonaCartel {
    width: 100%;
    height: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
  }

  #derechaCartel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    width: 50%;
    height: 100%;
    align-items: center;
  }

  #izquierdaCartel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #fotoFoodtruck {
    width: 50%;
  }

  #textStreetFood {
    font-family: Gladiola;
    font-style: italic;
    font-size: 50px;
    width: 50%;
    padding-top: 2em;
    color: rgb(198, 92, 255);
    text-shadow: 5px 5px 10px currentColor, -5px -5px 10px currentColor;
  }

  #dron {
    position: absolute;
    top: 2em;
    left: 10em;
    animation: subeBaja 3s ease-in-out infinite alternate;
  }

  #party {
    position: absolute;
    top: 9em;
    left: 4em;
    font-family: NeonShine;
    font-size: 60px;
    color: yellow;
  }

  #party1 {
    animation: cambioColor 1s infinite;
  }

  #party2 {
    animation: cambioColor 1s infinite 0.33s;
  }

  #party3 {
    animation: cambioColor 1s infinite 0.67s;
  }

  @keyframes cambioColor {
    33% {
      color: rgb(255, 83, 83);
    }

    67% {
      color: cyan;
    }

    100% {
      color: yellow;
    }
  }

  @keyframes subeBaja {
    20% {
      transform: translateY(-20px);
    }

    80% {
      transform: translateY(40px);
    }
  }

  #party p {
    margin: 0;
    text-shadow: 10px 5px 3px currentColor;
  }

  #eventoDron {
    font-family: NeonSpark;
    left: 4em;
    top: 7em;
    position: absolute;
    color: rgb(243, 65, 199);
    font-size: 40px;
    width: 10em;
    text-shadow: 5px 5px 10px rgb(243, 65, 199, 0.9);
  }

  @font-face {
    font-family: NeonSpark;
    src: url(/fonts/neon-spark.regular.otf);
  }

  @font-face {
    font-family: NeonShine;
    src: url(/fonts/neon-goodshine.otf);
  }

  @font-face {
    font-family: BigShoulder;
    src: url(/fonts/big-shoulders-display.black.ttf);
  }

  #espacioExtra{
    width: 100%;
    height: 8em;
    background-color: black;
  }
</style>
